button {
  padding: 5px;
  background-color: $color-beige;
  border: 0;
  border-radius: 5px;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    transform: scale(0.9);
  }
}