.card {
  @include flex($direction: column, $just: flex-start);
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;

  &.completed {
    background-color: $color-beige;

    &:hover {
      cursor: pointer;
      background-color: $color-blue-light;
      box-shadow: 0px 0px 5px 0px $color-blue-light;
    }
  }

  &.active {
    background-color: $color-blue;

    &:hover {
      cursor: pointer;
      background-color: $color-blue-dark;
      box-shadow: 0px 0px 5px 0px $color-blue-dark;
      color: $color-beige
    }
  }
}

.card__btns-container {
  @include flex;
  width: 100%;
  margin-top: auto;
}