.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex($just: center, $align-c: flex-start);
  background-color: $color-popup-bg;
}

.create-form {
  @include flex($direction: column, $just: center);
  gap: 10px;
  width: 25%;
  padding: 10px;
  margin-top: 50px;
  color: $color-beige;
  background-color: $color-blue-dark;
  border-radius: 10px;

  @include media-laptop {
    width: 50%;
  }

  @include media-mobile {
    width: 90%;
  }
  
  & label {
    @include flex($direction: column, $just: center);
    gap: 5px;
    width: 100%;
  }
  
  & input, textarea {
    resize: none;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }

  & textarea {
    min-height: 100px;
  }
}