* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  position: relative;
  @include flex($direction: column);
  width: 100%;
  min-height: 100vh;
  background-color: $color-blue-light;
}
