$color-white: #ffffff;
$color-black: #000000;
$color-blue: #418393;
$color-blue-dark: #164147;
$color-blue-light: #b1d9f2;
$color-green: #88b5a2;
$color-beige: #dcddce;
$color-popup-bg: #b1d9f2ad;

$width-laptop: 1300px;
$width-table: 800px;
$width-mobile: 500px;